.swagger-ui .topbar {
    background-color: #000;
}

.swagger-ui .topbar .download-url-wrapper .select-label select {
    border-color: #EF1C25;
}

.topbar-wrapper img[alt="Swagger UI"], .topbar-wrapper span {
    visibility: hidden;
}

.topbar-wrapper .link:after {
    content: 'Unoffical McLaren F1 API';
    color: #fff;
    visibility: visible;
    display: block;
    position: absolute;
    padding: 15px;
}

.swagger-ui .info .title small:last-child {
    background-color: #EF1C25 !important;
}